<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <services>
      <service name="Server.TestService">
        <host>
          <baseAddresses>
            <add baseAddress="soap.amqp:///"   />
          </baseAddresses>
        </host>
        <endpoint
          address="Test"
          binding="rabbitMQBinding"
          bindingConfiguration="rabbitMQConfig"
          contract="Contract.ITestContract"/>
      </service>
    </services>

    <bindings>
      <rabbitMQBinding>
        <binding name="rabbitMQConfig"
                 hostname="localhost"
                 port="5672"
                 protocolversion="AMQP_0_9_1"
                 username="guest"
                 password="guest"
                 oneWay="false"/>
      </rabbitMQBinding>
    </bindings>

    <extensions>
      <bindingExtensions>
        <add
          name="rabbitMQBinding"
          type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel, Version=1.0.110.0, Culture=neutral, PublicKeyToken=null"/>
      </bindingExtensions>
    </extensions>
    
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
